{%extends "layout.html"%}
    {%block content%}
      <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{title}} </legend>
                <div class="form-group">
                    {{form.nom.label(class="form-control-label")}}
                        {%if form.nom.errors %}
                            {{form.nom(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.nom.errors %}
                                    <span> {{error}}</span>
                                {%endfor%}
                            </div>
                        {%else%}
                            {{form.nom(class="form-control form-control-lg")}}
                        {%endif%}
                </div>

                <div class="form-group">
                    {{form.valeur.label(class="form-control-label")}}
                        {%if form.valeur.errors %}
                            {{form.valeur(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.valeur.errors %}
                                    <span> {{error}}</span>
                                {%endfor%}
                            </div>
                        {%else%}
                            {{form.valeur(class="form-control form-control-lg")}}
                        {%endif%}
                </div>

                <div class="form-group">
                    {{form.niveau.label(class="form-control-label")}}
                        {%if form.niveau.errors %}
                            {{form.niveau.nom_niv(class="form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.niveau.errors %}
                                    <span> {{error}}</span>
                                {%endfor%}
                            </div>
                        {%else%}
                            {{form.niveau(class="form-control form-control-lg")}}
                        {%endif%}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
      </div>
    
    {%endblock content%}